* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 250px;
    height: 160px;
    position: relative;
    left: 100px;
    float: left;
}

.navbar {
    top: 40px;
    left: 0;
    padding: 10px;
    display: flex;    
    justify-content: space-between;
}

.navbar ul {
    align-items: left;
}

.search {
   width: 500px; 
   display: flex;
   margin-bottom: 20px;
   position: relative;
   left: 120px;
   top: 15px;
}

.search-box{
    width: 400px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    background: none;
    color: #a9a9a9;
    outline: none;
    position: relative;
    top: -10px;
    left: 15px;
}

.search-box::placeholder{
    color: #a9a9a9;
}

li, a, button {
    font-family: "Monteserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0641B6;
    text-decoration: none;
}

ul {
    list-style: none; 
    padding-top: 4px;   
}

.nav-links {
    width: 500px;   
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0,3s ease 0s;
}

.nav-links li a:hover {
    color: #DB712E;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    text-decoration: none;    
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #EF7720;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
    transition: all 0,3s ease 0s;
    color: #ffffff;
    position: relative;
    right: -80px;
    top: -10px;
}

.login {
    height: 3rem;
    padding: 0.75rem 1rem;
    min-width: 7.5rem;
    left: -70px;
}

.carousel-item {
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}

