.container {
    margin: 60px;
}

img {
    border-radius: 20px;
}

.btn:hover {
    background-color: #EF7720; 
    color: #fff;
}

.nav-link {
    font-size: 20px;
}

@media (min-width: 601px) {
    .responsive-text {
        font-size: 16px;
    }
}

@media (max-width: 600px ) {
    .responsive-text {
        font-size: 12px;
    }
}